<link rel="stylesheet" href="/css/user_profile.css">
<section>
    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
    
    <h2>Welcome <%= user.name%></h2>
    <h4>Edit Details</h4>
    <% if(user.id == profile_user.id){%>
        <!-- If user matches then show the form -->
        <form action="/user/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
            <label for="name">Name</label>
            <input type="text" name = "name"  value="<%= profile_user.name %>" placeholder="Your Name" required/>
            <br>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required/>
            <br>
            <input type="file" name = "avatar" placeholder="profile picture">
            <br>
            <input id = "submit" type="submit" value="Update">
        </form>
    <%}else{%>
        <!-- else show only the profile info -->
        <p><%= profile_user.name%></p>
        <p><%= profile_user.email%></p>
    <%}%>
</section>